{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}
{% block content %}
<h1>Edit your profile:</h1>
<br/><br/>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if user.memberprofile.profile_pic %}
        <img src="{{ user.memberprofile.profile_pic.url }}" class="card-img rounded-circle" alt="{{ user }}">
        {% else %}
        <img src="{% static 'main_app/images/defaultbee.png' %}" class="card-img rounded-circle" alt="{{ user }}">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user }}'s Profile</h5>
          <p class="card-text">{{ user.memberprofile.bio }}</p>
          <p class="card-text"><small class="text-muted">Last added item</small></p>
        </div>
      </div>
    </div>
  </div>
    
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update Profile</button>
</div>


{% endblock %}