{% extends 'main_app/base.html' %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    There was an error with your form
  </div>
</div>

{% endif %}
<div class="shadow p-4 mb-5 bg-body rounded">
  <h2>Sign up</h2>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-warning">Register</button>
  </form>
</div>
  <br/>
{% endblock %}