{% extends 'main_app/base.html' %}
{% block content %}
    <h1>{{ user.first_name }} {{user.last_name }}'s' Profile</h1>
    
<br/><br/>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if user.memberprofile.profile_pic %}
        <img src="{{ user.memberprofile.profile_pic.url }}" class="card-img rounded-circle" alt="{{ user.username }}">
        <p class="card-text"><small class="text-muted">{{ user.memberprofile.city}}, {{user.memberprofile.state}}</small></p>
        {% else %}
        <img src="#" class="card-img rounded-circle" alt="No picture">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.memberprofile.bio }}</h5>
          <p class="card-text">Items: {{ user.item.name }}</p>
         
        </div>
      </div>
    </div>
  </div>

{% endblock %}