{% extends 'main_app/base.html' %}
{% block content %}
    <h1>User Profile</h1>
<br/><br/>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" class="card-img rounded-circle" alt="{{ user }}">
        {% else %}
        <img src="#" class="card-img rounded-circle" alt="No picture">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ page_user }}'s Profile</h5>
          <p class="card-text">{{ page_user.bio }}</p>
          <p class="card-text"><small class="text-muted">Last added item</small></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}