
{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simplihive - Items</title>
  </head>
  <body>
    <h1>Keep, Donate, or Trash?</h1>
    <hr />
    {% for item in object_list %}
      <div className="item-container">
        <div className="image-box">
        {% if item.item_image %}
          <a href="{% url 'item-detail' item.pk %}"><img src="{{item.item_image.url}}" width=500 /></a>
        {% else %}
          <a href="{% url 'item-detail' item.pk %}">{{ item.name }}</a>
          {% endif %}
          <div className="content">
          <h4 className="significance">{{ item.significance }}</h4>
        </div>
      </div>
    {% if item.anonymous %}
        <p className="left-align">Posted Anonymously</p>
    {% else %}
        <p className="left-align"> Posted by: {{ item.user }} </p>
    {% endif %}
    </div>
    <hr />
  {% endfor %}
    <footer>All Rights Reserved, simplihive 2022</footer>
  </body>
</html>

{% endblock %}